<!-- <div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>Subscribe Now</h3>
            <p class="m-auto subs-text">Don't miss out </p>
            <form action="" class="form-inline mb-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<form id="subscribe-form" action="#" method="post">
    <h1>Subscribe Now!</h1>
    <p>By subscribing, you agree to receive our newsletter and promotional offers. You can unsubscribe at any time.</p>
    <input type="name" id="name" name="name" placeholder="Name" required>
    <input type="email" id="email" name="email" placeholder="Email address" required>
    <button type="submit">Subscribe Now</button>
</form>