<div class="bg-theme p-5">
    <div class="container">
    <h1 class="text-white"> Recent Posts</h1>
    <p class="text-white">nviodshor[dnboirdufbiodfjhbdsfiox;ugbo;tby</p>
</div>

</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="carding col-md-4 mb-3">
            <app-post-card ></app-post-card>

    </div>

    <div class="carding col-md-4 mb-3">
        <app-post-card  class="cd"></app-post-card>

</div>

<div class="carding col-md-4 mb-3">
    <app-post-card ></app-post-card>

</div>
<div class="carding col-md-4 mb-3">
    <app-post-card ></app-post-card>

</div>
<div class="carding col-md-4 mb-3">
    <app-post-card ></app-post-card>

</div>
<div class="carding col-md-4 mb-3">
    <app-post-card ></app-post-card>

</div>
</div>
</div> 
