<!-- <section class="featureed-section">
    <div class="container-fluid">
        <div row></div>
    </div>
</section> -->
<form class="contain">
<div class="container py-9">
    <h2 class="text-center mb-4">Hot Topics</h2>
    <div class="card-container">
      <div class="card">
        <img src="https://picsum.photos/id/1/320/240" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex a nunc interdum ultricies.</p>
         
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/id/2/320/240" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex a nunc interdum ultricies.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/id/3/320/240" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex a nunc interdum ultricies.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/id/4/320/240" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex a nunc interdum ultricies.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/id/5/320/240" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blog Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in></p>
          </div>
        </div>
    </div>
</div>