/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --primary-color:white;
    --secondary-color:#e9ff4f;
    --body-text-color: black;
    --navbar-footer-color:white;
}

body {
    font-family: 'Playfair Display', serif;
    font-size:12px;
    color: var(--body-text-color);
}


