/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --primary-color:white;
    --secondary-color:#e9ff4f;
    --body-text-color: white;
    --navbar-footer-color:#51604d;
}

body {
    font-family: 'Playfair Display', serif;
    font-size:12px;
    color: var(--body-text-color);
}


.site-logo {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
}

.bg-theme {
    background-color: #e9ff4f;
}

.shadow-effect {
    border:none;
    box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3)
}

.bg-secondary-theme {
    background-color: #7b4928;
}