<div class="card">
    <img src="https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="postimage" class="card-img-top">
 <div class="card-body">
    <small class="bg-light text-danger text-center">Travel</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,000</small>

    <h5 class="nt-1">Solo Travel to Canada</h5>
    <p>Vancouver is a coastal city located in western Canada and is known for its stunning natural beauty, diverse cultural scene, and bustling city life. The city is surrounded by mountains, forests, and waterways, making it a popular destination for outdoor enthusiasts. </p>
    <small class="bg-light text-warning text-center ml-3">Last Updated - MAY 28, 2023</small>
 </div>
</div>
